/* componenetes */ /* ESTILOS DEL MENU */
/* imagen del Logo */
#logo {
  width: 8%;
  margin-right: 50%;
  position: relative;
}
#logo img {
  width: 18%;
  margin-left: 10%;
}

#menu {
  box-shadow: 0px -1px 5px white;
  background-color: rgba(0, 0, 0, 0.208);
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}

.item {
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin: 0px 10px 0px 10px;
}

/*FOOTER*/
#footer {
  padding-top: 20px;
  background-color: black;
}

#logoFooter img {
  width: 20%;
}

#textoFooter {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
}

/* Icono wspp */
#iconoWhattsap {
  position: fixed;
  color: yellow;
  right: 3%;
  bottom: 3%;
}

/* paginas */
/*MANIN, contenido principal*/
.principal {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .titulo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 0px 0px 4px white;
  font-family: "Anton", sans-serif, "Permanent Marker", cursive;
  color: white;
}

#fondoInicio {
  background-image: url(../../imagenes/Inicio.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*INICIO*/
#bodyInicio {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1159%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='rgba(18%2c 18%2c 18%2c 1)'%3e%3c/rect%3e%3cpath d='M587.5740360555669 158.76317397539532L608.4456334345008 60.57002851355108 510.2524879726566 39.69843113461715 489.3808905937227 137.8915765964614z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M855.9585904400144 40.44843269644491L757.2105286126098-69.22240058419747 647.5396953319674 29.52566124320711 746.2877571593721 139.19649452384948z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1038.0237250316409 584.1825527214352L1195.077159378754 647.6362590551488 1258.5308657124676 490.5828247080358 1101.4774313653545 427.12911837432216z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M424.2254481423542 250.14377004681583L359.92251795292407 123.94216372227599 298.02384181781434 314.446700236246z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M795.3838731283846 152.2899445884432L701.7748259330042 202.0627578710715 823.2385694546368 317.5899220228281z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1415.6888512411324 320.2229306870612L1340.652561237737 239.75636117108212 1260.185991721758 314.7926511744775 1335.2222817251534 395.2592206904566z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M107.85570071284039 427.34856248851787L189.4417559187561 333.4945421098433 95.58773554008151 251.9084869039276 14.001680334165812 345.7625072826022z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1496.7017502906879 119.91883224634783L1392.2665028030767 77.7242533597678 1454.5071714041078 224.35407973395888z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M684.0956064212689 368.8519670572192L572.2743964921629 296.2344242487248 499.6568536836684 408.05563417783094 611.4780636127746 480.67317698632536z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-87.88961812784481 517.0084715081819L5.459404676523391 587.3520057155515 75.80293888389309 494.0029829111833-17.546083920475127 423.65944870381367z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M919.4835262181566 505.8796409667223L965.1438682096178 568.7257101663004 1036.5828010132543 468.8121625793194z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M828.3184870698614 498.0903024161886L926.0746951681485 533.6706523786977 961.6550451306576 435.9144442804106 863.8988370323705 400.3340943179015z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M382.8727359596486 479.9550921330123L316.8349662696686 374.2725690772768 277.1902129039131 545.9928618229923z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M594.2824937525047 263.51338599076445L572.606681437918 365.4900652533727 674.5833607005263 387.16587756795934 696.259173015113 285.1891983053511z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1242.833157358661 142.13805164900543L1329.509358954935 27.11484716294342 1127.809952872599 55.46185005273156z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M364.63298209115925 132.58302956258336L450.139871052443 269.42265643820446 586.9794979280641 183.9157674769207 501.47260896678034 47.07614060129961z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M812.5267512369946 320.5164673916378L706.3729326419038 234.55480003065406 620.4112652809201 340.70861862574486 726.5650838760109 426.6702859867286z' fill='rgba(255%2c 0%2c 0%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1159'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/*   Seccion: frase 1 */
/* Para pc */
.frase1-pc {
  /*fondo de la caja borroso*/
  backdrop-filter: blur(8px);
  background-color: rgba(243, 243, 243, 0.048);
  box-shadow: 0px 0px 8px black;
  margin-top: 70px;
  box-shadow: 0px 10px 10px rgba(240, 85, 85, 0.63);
  border-radius: 10px;
}
.frase1-pc .imagenFrase {
  width: 100%;
  margin-left: -12px;
}
.frase1-pc .imagenFrase .img-fluid {
  height: 100%;
}
.frase1-pc .imagenFrase2 {
  width: 100%;
  margin-left: 6%;
}

.frase {
  display: flex;
  text-align: center;
  align-items: center;
}
.frase h2 {
  color: white;
  font-family: "Lilita One", cursive, Arial, Helvetica, sans-serif;
}

/* Para celular */
.frase1-celular {
  /*fondo de la caja borroso*/
  backdrop-filter: blur(8px);
  background-color: rgba(243, 243, 243, 0.048);
  box-shadow: 0px 0px 8px black;
  margin-top: 100px;
  box-shadow: 0px 10px 10px rgba(240, 85, 85, 0.63);
  border-radius: 10px;
  height: 600px;
}
.frase1-celular .imagenCelular {
  margin-left: -12px;
  margin-right: -12px;
}
.frase1-celular .imagenCelular img {
  padding-bottom: 50px;
}
.frase1-celular h2 {
  color: white;
}

/*ACTIVIDADES*/
.principal {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .titulo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 0px 0px 4px white;
  font-family: "Anton", sans-serif, "Permanent Marker", cursive;
  color: white;
}

#fondoActividades {
  background-image: url(../imagenes/Actividades.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#bodyActividad {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='rgba(19%2c 19%2c 19%2c 1)'%3e%3c/rect%3e%3cpath d='M1047.7386134675805 122.0840978135311L1232.1702414115787 148.18353579422617 1173.817705741356-3.8300167774258966z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M724.8977183865741 488.5957948923934L742.323734591277 630.519307722992 866.8212312171727 471.16977868769055z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M37.49383071494486 96.94062119831305L-39.75122932626782 207.03453953860767 77.16985640409477 219.32344084073003z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M944.5362161395147 230.18791402792968L983.1878870276813 313.0766897368606 1066.0766627366122 274.42501884869404 1027.4249918484456 191.53624313976312z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M582.7199427375244 234.7348180629926L676.6621553716955 226.5159394309608 574.5010641054927 140.79260542882162z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M259.3478522485332 75.47259860112754L369.63105348671087 50.011715419732965 233.88696906713858-34.81060263705014z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1305.929880285175 408.41682146763566L1303.2423356872014 554.412435190893 1415.9459603899622 494.4868549539994z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1173.0171775082174 182.65784925575576L1088.5690556742356 116.67974548137768 1022.5909518998575 201.12786731535948 1107.0390737338394 267.1059710897376z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1173.1102088951927 351.45837240555034L1089.384791378493 429.38454166767303 1184.4759564585254 460.28153413991026z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1077.9226794753454 262.3500694897593L1176.82500814221 243.12540426905383 1157.6003429215045 144.2230756021891 1058.69801425464 163.4477408228946z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M287.1903062561348 67.480956546754L260.52652386756773 160.46861637607378 353.51418369688747 187.13239876464087 380.1779660854546 94.1447389353211z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M457.885596803344 178.30693921007583L550.4657825499291 79.21634541425273 435.44270277579704 50.53787065329655z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M308.3286187683708 309.4981930446069L137.6595940928103 309.4981930446069 137.6595940928103 480.1672177201674 308.3286187683708 480.1672177201674z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M620.7512238015117 312.33989884135497L583.1464367963266 396.8016333298361 728.6414320316409 410.9779465933732z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M969.8779251428236 186.87357505091938L826.6070489440318 230.67587766435537 870.4093515574679 373.9467538631472 1013.6802277562597 330.1444512497112z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1428.4688180995342 339.13404809874083L1330.7725070690972 397.8359140211984 1389.4743729915547 495.5322250516356 1487.1706840219917 436.830359129178z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M426.3082741409305 49.35288056597294L361.34884902303634 107.84260965738756 419.83857811445097 172.80203477528175 484.79800323234514 114.31230568386712z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M379.23793525384025 461.0736632001385L333.42953242682563 547.2267387321507 485.5633471383512 572.8628052066666z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M488.50859064393376-53.149537652544254L346.29249420063013-85.98271058734835 455.67541770912965 89.06655879075934z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#actividades {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(35%2c 35%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M44 560L604 0L679 0L119 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M334.8 560L894.8 0L1148.3 0L588.3 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M638.6 560L1198.6 0L1266.1 0L706.1 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M1399 560L839 0L447.5 0L1007.5 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M1105.2 560L545.2 0L230.20000000000005 0L790.2 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M762.4 560L202.39999999999998 0L44.89999999999998 0L604.9 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M1110.8809564694407 560L1440 230.8809564694406L1440 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M0 560L329.1190435305594 560L 0 230.8809564694406z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1065'%3e%3cstop stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  display: flex;
  justify-content: center;
}

/*Seccion imagenes  */
.imagenes {
  margin-top: 5%;
}

.actividad {
  border-radius: 5px;
  border: 1px solid white;
}

.carousel-item .carousel-caption p {
  font-size: 15px;
}

/*Tabla actividades*/
#TablaActividades {
  margin-top: 7%;
}

.table thead tr .tituloCol {
  background-color: rgb(44, 44, 44);
  color: white;
}
.table thead tr .tiulorow {
  background-color: rgb(114, 114, 114);
  color: rgb(0, 0, 0);
}

.table tbody tr .hora {
  background-color: #ebf7fe;
  color: rgb(0, 0, 0);
}

/* boton horarios */
#botonHorarios {
  margin-top: 20px;
}
#botonHorarios a {
  text-decoration: none;
}

.principal {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .titulo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 0px 0px 4px white;
  font-family: "Anton", sans-serif, "Permanent Marker", cursive;
  color: white;
}

#fondoContactanos {
  background-image: url(../imagenes/Contactanos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*CONTACTANOS*/
#contacto {
  height: 250px;
  width: 90%;
  position: absolute;
  top: 65%;
  left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}
#contacto .tarjetaContacto {
  /*fondo de la caja borroso*/
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.062);
  box-shadow: 0px 0px 2px rgb(255, 255, 255);
  font-family: "Anton", sans-serif, "Permanent Marker", cursive;
  color: white;
  width: 85%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
}
#contacto .tarjetaContacto .icono {
  height: 50px;
  padding-top: 30px;
  color: rgba(255, 0, 0, 0.808);
}

/*mapa contactantos*/
#seccionMapa {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(30%2c 30%2c 30%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='0' y='0'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsSymbol1105' x='720' y='0'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1100'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1103'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1099'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1102'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1101'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1104'%3e%3c/path%3e%3c/defs%3e%3csymbol id='SvgjsSymbol1105'%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='30' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='30' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='30' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='30' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='30' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='90' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='90' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='90' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='90' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='90' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='150' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='150' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='150' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='150' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='150' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='150' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='210' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='210' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='210' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='210' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='210' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='210' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='270' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='270' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='270' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='270' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='270' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='270' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='330' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='330' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='330' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='330' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='330' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='330' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='330' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='390' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='390' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='390' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='390' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='390' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='450' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='450' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='450' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='510' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='510' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='510' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='510' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='510' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='510' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='570' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='570' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1100' x='570' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='570' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='570' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='630' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='630' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='630' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='630' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='30' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1101' x='690' y='90' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='150' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='210' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='270' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1099' x='690' y='330' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='690' y='390' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1104' x='690' y='450' stroke='rgba(255%2c 0%2c 0%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1102' x='690' y='510' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1103' x='690' y='570' stroke='rgba(255%2c 0%2c 0%2c 1)'%3e%3c/use%3e%3c/symbol%3e%3c/svg%3e");
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#seccionMapa #contenedorMapa {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#seccionMapa #contenedorMapa #mapa {
  margin-top: 90px;
  width: 180vh;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

#footercontacto {
  background-color: black;
}

#menuNosotros {
  background-color: rgb(25, 25, 25);
}

#nosotros {
  padding: 8%;
  background-color: rgb(43, 43, 43);
}
#nosotros h1 {
  font-size: 3rem;
  font-weight: 800;
  color: red;
}

#quenesSomos p {
  font-size: 1.25rem;
  font-weight: 300;
  padding: 15px;
  color: white;
}

.principal {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .titulo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-shadow: 0px 0px 4px white;
  font-family: "Anton", sans-serif, "Permanent Marker", cursive;
  color: white;
}

#fondoProfesores {
  background-image: url(../imagenes/Nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.capa {
  width: 100%;
  height: 100%;
  color: transparent;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

#bodyProfesores {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='rgba(19%2c 19%2c 19%2c 1)'%3e%3c/rect%3e%3cpath d='M1181.1186308805604 16.557429620104948L1099.113775789332-68.36108370486505 1096.2001175555904 98.5622847113334z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M6.162403508813149 224.72005244332655L86.95666768878385 203.07129460323662 14.086398838663612 92.70427725332553z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M555.9932340012651 320.45755763655774L603.4047535254499 357.4994963716458 635.2619018659897 267.86124771782477z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M749.0417569447762 462.06256293305603L773.8742153771467 602.8944329769703 914.706085421061 578.0619745445998 889.8736269886905 437.23010450068557z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M759.7731521723651 629.9528273553699L788.1677817461142 506.96217439744044 665.1771287881847 478.5675448236914 636.7824992144357 601.5581977816208z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M333.2633946563287 130.03405385778692L434.8636401727908 82.65708130303254 285.88642210157434 28.433808341324877z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M806.740199866779 121.22000372740831L699.1191210076554 236.62948123503128 922.149677374402 228.84108258653185z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1263.5361037310313 246.9058116735849L1231.8974551837814 395.75395025218313 1380.7455937623797 427.392598799433 1412.3842423096296 278.5444602208347z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.07079962485795-12.330307002292535L106.24303902677114 21.767475604048997 140.34082163311268 110.59523620213582 229.16858223119948 76.49745359579427z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M966.8131306849479 284.9096380534641L1120.2240104654038 326.0159594007854 1161.330331812725 172.60507962032943 1007.9194520322692 131.49875827300812z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M221.50538639264806 342.33817476790983L303.1124392169371 373.66418735238966 334.43845180141693 292.0571345281006 252.83139897712792 260.7311219436208z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M725.062273264323 207.0293212140336L765.0403654870304 317.19478469140927 832.2515767289699 239.87713066762433z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1035.223554932121 273.5906174079852L1134.4553715174766 338.0325125852977 1198.8972666947893 238.8006959999421 1099.6654501094336 174.35880082262952z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M271.6141235787207 587.5845457604765L386.64935340864326 504.1739445240632 274.0753530077377 451.679826027977z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M70.53623974880321 177.42987757618707L-16.583681182728554 166.7328963387132 10.930807426826505 302.76126835474776z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1191.7358294197861 574.6016242268925L1178.3864217022917 447.59049395463853 1051.3752914300378 460.93990167213303 1064.7246991475322 587.951031944387z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M310.5125772291798 187.21765325644233L174.77416091424723 163.28330814148165 286.5782321142191 322.9560695713749z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M587.336104826425 338.6899660572499L620.8946450191032 463.9321430841675 746.1368220460208 430.3736028914892 712.5782818533426 305.1314258645716z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1279.606851777467-32.342789905826486L1275.1323775544508 95.7893872523426 1403.2645547126199 100.26386147535882 1407.739028935636-27.868315682810277z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.contenedor {
  padding: 60px 0px 40px 0px;
}
.contenedor .caja {
  height: 320px;
  margin: 80px 0px 40px 0px;
}
.contenedor .caja .imagen {
  height: 100%;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgb(111, 127, 142);
}
.contenedor .caja .imagen:hover .capa {
  color: white;
}
.contenedor .caja .profe-uno, .contenedor .caja .profe-cuatro, .contenedor .caja .profe-tres, .contenedor .caja .profe-dos {
  background-image: url(../imagenes/profesores/profe-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contenedor .caja .profe-dos {
  background-image: url(../imagenes/profesores/profe-2.png);
}
.contenedor .caja .profe-tres {
  background-image: url(../imagenes/profesores/profe-3.png);
}
.contenedor .caja .profe-cuatro {
  background-image: url(../imagenes/profesores/profe-4.jpg);
}

/* funciones */
/*PAGINA INICIO*/
@media screen and (min-width: 780px) {
  .frase1-celular {
    display: none;
  }
  #botonHorarios {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .frase1-pc {
    display: none;
  }
  #TablaActividades {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  /*MENU*/
  #logo {
    width: 20%;
  }
  #menu {
    box-shadow: 0px -1px 5px white;
    background-color: rgba(0, 0, 0, 0.806);
  }
  .item {
    text-decoration: none;
    color: white;
    font-size: 23px;
    margin: 10px 10px 10px 10px;
  }
  ul {
    text-align: center;
  }
  #menuHambur {
    background-color: rgb(255, 255, 255);
  }
  .principal {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .principal .titulo {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 3px;
    text-shadow: 0px 0px 4px white;
    font-family: "Anton", sans-serif, "Permanent Marker", cursive;
    color: white;
  }
  /*PAGINA CONTACTANOS*/
  #contacto {
    height: 250px;
    width: 90%;
    position: absolute;
    top: 55vh;
    left: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  .tituloContactanos {
    font-size: 30px;
  }
  /*mapa contactantos*/
  #seccionMapa {
    width: 100%;
    height: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  #seccionMapa #contenedorMapa {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #seccionMapa #contenedorMapa #mapa {
    margin-top: 80vh;
    width: 95%;
    height: 400px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }
  #contacto .tarjetaContacto {
    margin-top: 30px;
  }
  #contacto .tarjetaContacto p {
    font-weight: 100;
  }
  /* PAGINA ACTIVIDADES */
  .carousel-item .carousel-caption p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
