@import "../Funciones/mixin";

/*ACTIVIDADES*/

.principal{
    width: 100%;
    height: 500px;


    display: flex;
    justify-content: center;
    align-items: center;

    .titulo{
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 3px;
        text-shadow: 0px 0px 4px $colorBlanco;
        font-family: 'Anton', sans-serif, 'Permanent Marker', cursive;
        color: $colorBlanco
    }
}


#fondoActividades{
    @include fondos(url(../imagenes/Actividades.webp));
}


#bodyActividad{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='rgba(19%2c 19%2c 19%2c 1)'%3e%3c/rect%3e%3cpath d='M1047.7386134675805 122.0840978135311L1232.1702414115787 148.18353579422617 1173.817705741356-3.8300167774258966z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M724.8977183865741 488.5957948923934L742.323734591277 630.519307722992 866.8212312171727 471.16977868769055z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M37.49383071494486 96.94062119831305L-39.75122932626782 207.03453953860767 77.16985640409477 219.32344084073003z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M944.5362161395147 230.18791402792968L983.1878870276813 313.0766897368606 1066.0766627366122 274.42501884869404 1027.4249918484456 191.53624313976312z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M582.7199427375244 234.7348180629926L676.6621553716955 226.5159394309608 574.5010641054927 140.79260542882162z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M259.3478522485332 75.47259860112754L369.63105348671087 50.011715419732965 233.88696906713858-34.81060263705014z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1305.929880285175 408.41682146763566L1303.2423356872014 554.412435190893 1415.9459603899622 494.4868549539994z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1173.0171775082174 182.65784925575576L1088.5690556742356 116.67974548137768 1022.5909518998575 201.12786731535948 1107.0390737338394 267.1059710897376z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1173.1102088951927 351.45837240555034L1089.384791378493 429.38454166767303 1184.4759564585254 460.28153413991026z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1077.9226794753454 262.3500694897593L1176.82500814221 243.12540426905383 1157.6003429215045 144.2230756021891 1058.69801425464 163.4477408228946z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M287.1903062561348 67.480956546754L260.52652386756773 160.46861637607378 353.51418369688747 187.13239876464087 380.1779660854546 94.1447389353211z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M457.885596803344 178.30693921007583L550.4657825499291 79.21634541425273 435.44270277579704 50.53787065329655z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M308.3286187683708 309.4981930446069L137.6595940928103 309.4981930446069 137.6595940928103 480.1672177201674 308.3286187683708 480.1672177201674z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M620.7512238015117 312.33989884135497L583.1464367963266 396.8016333298361 728.6414320316409 410.9779465933732z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M969.8779251428236 186.87357505091938L826.6070489440318 230.67587766435537 870.4093515574679 373.9467538631472 1013.6802277562597 330.1444512497112z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1428.4688180995342 339.13404809874083L1330.7725070690972 397.8359140211984 1389.4743729915547 495.5322250516356 1487.1706840219917 436.830359129178z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M426.3082741409305 49.35288056597294L361.34884902303634 107.84260965738756 419.83857811445097 172.80203477528175 484.79800323234514 114.31230568386712z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M379.23793525384025 461.0736632001385L333.42953242682563 547.2267387321507 485.5633471383512 572.8628052066666z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M488.50859064393376-53.149537652544254L346.29249420063013-85.98271058734835 455.67541770912965 89.06655879075934z' fill='rgba(144%2c 0%2c 255%2c 0.7)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

#actividades{    
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(35%2c 35%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M44 560L604 0L679 0L119 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M334.8 560L894.8 0L1148.3 0L588.3 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M638.6 560L1198.6 0L1266.1 0L706.1 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M1399 560L839 0L447.5 0L1007.5 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M1105.2 560L545.2 0L230.20000000000005 0L790.2 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M762.4 560L202.39999999999998 0L44.89999999999998 0L604.9 560z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3cpath d='M1110.8809564694407 560L1440 230.8809564694406L1440 560z' fill='url(%23SvgjsLinearGradient1064)'%3e%3c/path%3e%3cpath d='M0 560L329.1190435305594 560L 0 230.8809564694406z' fill='url(%23SvgjsLinearGradient1065)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1064'%3e%3cstop stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1065'%3e%3cstop stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(223%2c 225%2c 227%2c 0.42)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;


    padding-top: 5%;
    display: flex;
    justify-content: center ;    
}



  /*Seccion imagenes  */
.imagenes{
    margin-top: 5%;

    

}

.actividad{
    border-radius: 5px;
    border: 1px solid $colorBlanco;
}


.carousel-item .carousel-caption  p{
    font-size: 15px;
}


     /*Tabla actividades*/
#TablaActividades{
    margin-top: 7%;
}

.table thead tr {
    
    .tituloCol{
        background-color: rgb(44, 44, 44);
        color: $colorBlanco;
    }

    .tiulorow{
        background-color: rgb(114, 114, 114);
        color: rgb(0, 0, 0);
    }
}
.table tbody tr .hora{
    background-color: #ebf7fe;
    color: rgb(0, 0, 0);
}

/* boton horarios */
#botonHorarios{
    margin-top: 20px;

    a{
        text-decoration: none;
    }
}

