#menuNosotros{
    background-color: rgb(25, 25, 25);
}


#nosotros{
    padding-top: 40px;
    background-color: rgb(43, 43, 43);

    h1{
        font-size: 3rem;
        font-weight: 800;
        color: red;
    }

}

#quenesSomos{
    
    p{
        font-size: 1.25rem;
        font-weight: 300;
        padding: 15px;
        color: white;
    }

}