@import "../Funciones/mixin";


.principal{
    width: 100%;
    height: 500px;


    display: flex;
    justify-content: center;
    align-items: center;

    .titulo{
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 3px;
        text-shadow: 0px 0px 4px $colorBlanco;
        font-family: 'Anton', sans-serif, 'Permanent Marker', cursive;
        color: $colorBlanco
    }
}



#fondoProfesores{
    @include fondos(url(../imagenes/Nosotros.jpg));
}


.capa{
    width: 100%;
    height: 100%;
    color: transparent;
    transition: all 1s;

    display: flex;
    flex-direction: column;
    justify-content: end   ;
    align-items: center;
}

#bodyProfesores{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='580' preserveAspectRatio='none' viewBox='0 0 1440 580'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='580' x='0' y='0' fill='rgba(19%2c 19%2c 19%2c 1)'%3e%3c/rect%3e%3cpath d='M1181.1186308805604 16.557429620104948L1099.113775789332-68.36108370486505 1096.2001175555904 98.5622847113334z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M6.162403508813149 224.72005244332655L86.95666768878385 203.07129460323662 14.086398838663612 92.70427725332553z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M555.9932340012651 320.45755763655774L603.4047535254499 357.4994963716458 635.2619018659897 267.86124771782477z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M749.0417569447762 462.06256293305603L773.8742153771467 602.8944329769703 914.706085421061 578.0619745445998 889.8736269886905 437.23010450068557z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M759.7731521723651 629.9528273553699L788.1677817461142 506.96217439744044 665.1771287881847 478.5675448236914 636.7824992144357 601.5581977816208z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M333.2633946563287 130.03405385778692L434.8636401727908 82.65708130303254 285.88642210157434 28.433808341324877z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M806.740199866779 121.22000372740831L699.1191210076554 236.62948123503128 922.149677374402 228.84108258653185z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1263.5361037310313 246.9058116735849L1231.8974551837814 395.75395025218313 1380.7455937623797 427.392598799433 1412.3842423096296 278.5444602208347z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.07079962485795-12.330307002292535L106.24303902677114 21.767475604048997 140.34082163311268 110.59523620213582 229.16858223119948 76.49745359579427z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M966.8131306849479 284.9096380534641L1120.2240104654038 326.0159594007854 1161.330331812725 172.60507962032943 1007.9194520322692 131.49875827300812z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M221.50538639264806 342.33817476790983L303.1124392169371 373.66418735238966 334.43845180141693 292.0571345281006 252.83139897712792 260.7311219436208z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M725.062273264323 207.0293212140336L765.0403654870304 317.19478469140927 832.2515767289699 239.87713066762433z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1035.223554932121 273.5906174079852L1134.4553715174766 338.0325125852977 1198.8972666947893 238.8006959999421 1099.6654501094336 174.35880082262952z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M271.6141235787207 587.5845457604765L386.64935340864326 504.1739445240632 274.0753530077377 451.679826027977z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M70.53623974880321 177.42987757618707L-16.583681182728554 166.7328963387132 10.930807426826505 302.76126835474776z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1191.7358294197861 574.6016242268925L1178.3864217022917 447.59049395463853 1051.3752914300378 460.93990167213303 1064.7246991475322 587.951031944387z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M310.5125772291798 187.21765325644233L174.77416091424723 163.28330814148165 286.5782321142191 322.9560695713749z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M587.336104826425 338.6899660572499L620.8946450191032 463.9321430841675 746.1368220460208 430.3736028914892 712.5782818533426 305.1314258645716z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1279.606851777467-32.342789905826486L1275.1323775544508 95.7893872523426 1403.2645547126199 100.26386147535882 1407.739028935636-27.868315682810277z' fill='rgba(111%2c 127%2c 142%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='580' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.contenedor{
    padding: 60px 0px 40px 0px;
    
    .caja{
        
        height: 320px;
        margin: 80px 0px 40px 0px;

        .imagen{
            height: 100%;
            border-radius: 3px;

            box-shadow: 0px 4px 4px rgba(111, 127, 142, 1);        

            &:hover .capa{
                color: $colorBlanco;
            } 
        }

        .profe-uno{
            background-image: url(../imagenes/profesores/profe-1.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .profe-dos{
            @extend .profe-uno;
            background-image: url(../imagenes/profesores/profe-2.png);
        }

        .profe-tres{
            @extend .profe-uno;
            background-image: url(../imagenes/profesores/profe-3.png);
        }

        .profe-cuatro{
            @extend .profe-uno;
            background-image: url(../imagenes/profesores/profe-4.jpg);
        }
       

    }


}

