/*FOOTER*/

#footer{
    margin-top: 40px;
   background-color: black;

}
#logoFooter img{
   width: 20%;
}

#textoFooter{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 200;
}


/* Icono wspp */
#iconoWhattsap{
    position: fixed;
    color:  yellow;
    right: 3%;
    bottom: 3%;
}
